$w1: 100%;
$w2: 15%;
$w3: 150px;
$w4: 120px;
$w5: 85%;
$w6: 140px;
$w7: 450px;
$w8: 30px;
$w9: 160px;
$w10: 20px;
$w11: 65%;
$w12: 50px;
$w13: 28%;
$w14: 220px;
$w15: 35px;

$h1: auto;
$h2: 100vh;
$h3: 70px;
$h4: 400px;
$h5: 25px;
$h6: 100px;
$h7: 40px;
$h8: 30px;
$h9: 120px;
$h10: 20px;
$h11: 345px;
$h12: 285px;
$h13: 310px;
$h14: 35px;

$s1: 24px;
$s2: 16px;
$s3: 18px;
$s4: 22px;

$fw1: 600;
$fw2: 900;