$t1: '.container';
$t2: 'nav';
$t3: '.nav--header';
$t4: '.nav--bar ul';
$t5: 'li';
$t6: 'a';
$t7: '.nav--bottom';
$t8: '.main2';
$t9: '.main--header';
$t10: '.main--header--left';
$t11: '.main--header--center ';
$t12: '.main--header--i';
$t13: '.main--header--right';
$t14: '.main--center2';
$t15: '.main3--left';
$t16: '.main3--left--one--one';
$t17: '.main3--left--one';
$t18: '.main3--right';
$t19: '.main3--right--one';
$t20: '.main3--right--one--one';
$t21: '.column1';
$t23: '.column1--left';
$t24: '.main--center';
$t25: '.main--center--center';
$t26: '.main--center--up';